/**********************
       CONSTANTS
***********************/

@h1: 32px;
@h2: 22px;
@h3: 18px;

@media-sm: 480px;
@media-md: 640px;
@media-lg: 1024px;

/**********************
        MIXINS
***********************/



/**********************
         STYLES
***********************/

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: @h1;
    color: #4B4545;
}

h2 {
    font-size: @h2;
    color: #4B4545;
}

h3 {
    font-size: @h3;
}

#container {

    display: flex;
    flex-flow: column wrap;

    #header {
        display: flex;
        flex-flow: row wrap;
        flex: 0 100%;

        .logo {
            line-height: 32px;
            flex: 1 0 100%;
            
            @media(min-width: @media-md) {
                flex: 1 0 50%;
            }
        }

        .userStatus {
            align-self: center;
            margin-left: 0;
            flex: 0 100%;

            @media(min-width: @media-md) {
                margin-left: auto;
                flex: none;
            }
            
        }
    }

    #content {

        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        flex: 0 100%;

        @media(min-width: @media-lg) {
            flex-flow: row wrap;
        }

        .posts, .groups, .users {
            border-left: 1px solid #DDDFE6;
            margin-top: 16px;
            order: 3;
            width: 50%;
            min-width: 100%;
            
            @media(min-width: @media-lg) {
                min-width: 320px;
            }

            .posts-multiview>.post-single {
                border-bottom: 1px dashed #DDDFE6;
                margin-bottom: 20px;
                
            }
            .post-single {
                header {

                    margin-bottom: 20px;
                    
                    span {
                        padding-left: 10px;
                        padding-right: 10px;
                        border-right: 1px solid #4B4545;

                        &:last-child{
                            border-right: none;
                        }

                        @media(min-width: @media-md) {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }

                    
                }
                .content {
                    
                    font-size: 16px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    
                    .image-placement {
                        max-height: 300px;
                        overflow: hidden;
                        margin-bottom: 20px;
                    }

                    img {
                        display: block;
                        padding-bottom: 25px;
                        max-width: 100%;
                    }
                }
            }

            .comment {
                border-bottom: 1px dashed lightgray;
                display: flex;
                margin-bottom: 10px;

                .profile {
                    border-right: 1px dashed lightgray;
                    float: left;
                    margin-right: 15px;
                    text-align: center;
                    width: 110px;

                    span {
                        display: block;
                    }
                }

                .content {
                    float: left;
                    span {
                        color: lightgray;
                        padding-bottom: 3px;
                    }

                    p {
                        margin-top: 5px;
                    }
                }
            }
        }
        .form {
            margin-top:0px;
        }

        #UserLoginForm {
            flex: 0 50%;
        }
        
        .actions {
            order: 2;
            margin-top: 16px;
            width: 100%; // mobile view
            
            @media(min-width: @media-lg) {
                width: 16%;
            }
            
            ul li {

                display: inline-block;

                @media(min-width: @media-lg) {
                    display: block;
                }

                a {
                    background: #005F6B;
                    color: white;
                    border: 0px;
                    display: inline-block;
                    text-transform: uppercase;
                    text-align: center;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: @h3;
                    margin-bottom: 16px;
                    text-shadow: none;
                    min-width: 130px;
                    &:hover {
                        background: #478D96;
                    }
                }
            } 
        }
    }

    #footer {
        flex: 0 100%;
    }
}

form {
    .submit input[type="submit"]{
        background: #FE4365;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 16px;
        min-width: 125px;
        border-color:  #D4314F;
        text-shadow: none;

        &:hover {
            background: #D4314F;
        }
    }

    .input {
        *:not(label) {
            border: 1px solid #DDDFE6;
        }
        input[type="checkbox"] {
            margin-top: 7px;
        }
        label {
            font-size: 20px;
        }
        &.required label:after {
            color: #4B4545;
        }
    }
}

dl {
    line-height: 3em;

    dd {
        margin-top: -3em;
        margin-left: 10.5em;
        padding-left: 10px;
    }

    dd:nth-child(4n+2), dt:nth-child(4n+1){
        background: #E6EAEA;
    }
}

.message {
    border-radius: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    flex: 1 100%;
    order: 0;

    &.success {
        background: #79BD9A;
        border: 1px solid #5AA17C;
    }

    &.error {
        background: #FE4365;
        border: 1px solid #D4314F;
    }
}

p.error {
    .message;
}